services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - avr

  avr-app-backend:
    image: agentvoiceresponse/avr-app-backend
    platform: linux/x86_64
    container_name: avr-app-backend
    restart: always
    environment:
      - PORT=3001
      - JWT_SECRET=your-jwt-secret-here
      - CORE_DEFAULT_IMAGE=agentvoiceresponse/avr-core
      - DB_TYPE=sqlite
      - DB_DATABASE=/app/data/data.db
      - FRONTEND_URL=http://avr.localhost
      - ADMIN_USERNAME=${ADMIN_USERNAME:-admin}
      - ADMIN_PASSWORD=$ADMIN_PASSWORD
      - WEBHOOK_URL=http://avr-app-backend:3001/webhooks
      - WEBHOOK_SECRET=your-webhook-secret-here
      - ASTERISK_CONFIG_PATH=/app/asterisk
      - ARI_URL=${ARI_URL:-http://avr-asterisk:8088/ari}
      - ARI_USERNAME=${ARI_USERNAME:-avr}
      - ARI_PASSWORD=${ARI_PASSWORD:-avr}
      - TENANT=${TENANT:-demo}
    labels:
      - traefik.enable=true
      - traefik.http.routers.avr-app-backend.entrypoints=web
      - traefik.http.routers.avr-app-backend.rule=Host(`api.localhost`)
      - traefik.http.services.avr-app-backend.loadbalancer.server.port=3001
    volumes:
      - ./asterisk/conf:/app/asterisk
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - avr

  avr-app-frontend:
    image: agentvoiceresponse/avr-app-frontend
    platform: linux/x86_64
    container_name: avr-app-frontend
    restart: always
    environment:
      - NEXT_PUBLIC_API_URL=http://api.localhost
      - NEXT_PUBLIC_WEBRTC_CLIENT_URL=https://phone.agentvoiceresponse.com/index.html
    labels:
      - traefik.enable=true
      - traefik.http.routers.avr-app-frontend.entrypoints=web
      - traefik.http.routers.avr-app-frontend.rule=Host(`avr.localhost`)
      - traefik.http.services.avr-app-frontend.loadbalancer.server.port=3000
    networks:
      - avr

  avr-asterisk:
    image: agentvoiceresponse/avr-asterisk
    platform: linux/x86_64
    container_name: avr-asterisk
    restart: always
    ports:
      - 8089:8089
      - 10000-10050:10000-10050/udp
    volumes:
      - ./asterisk/conf/manager.conf:/etc/asterisk/my_manager.conf
      - ./asterisk/conf/pjsip.conf:/etc/asterisk/my_pjsip.conf
      - ./asterisk/conf/extensions.conf:/etc/asterisk/my_extensions.conf
      - ./asterisk/conf/queues.conf:/etc/asterisk/my_queues.conf
      - ./asterisk/conf/ari.conf:/etc/asterisk/my_ari.conf
    networks:
      - avr
      
networks:
  avr:
    name: avr
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24